{% extends 'base.html.twig' %}

{% block title %}User Management{% endblock %}

{% block body %}
    <h1>User Management</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles|join(', ') }}</td>
                    <td>
                        <a href="{{ path('admin_users_roles', {id: user.id}) }}" class="btn btn-primary">Manage Roles</a>
                        <form action="{{ path('admin_users_delete', {id: user.id}) }}" method="post" style="display:inline-block;">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                            <button class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this user?');">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}