{% extends 'home.html.twig' %}

{% block title %}{{ article.titre }}{% endblock %}

{% block main_body %}
<div class="article-detail">
    <h1>{{ article.titre }}</h1>
    <p class="meta">Published on: {{ article.date|date('Y-m-d H:i:s') }}</p>
    <p class="meta">Published: {{ article.publie ? 'Yes' : 'No' }}</p>
    <p>{{ article.texte }}</p>
</div>
{% endblock %}